---
import { Image } from "astro:assets";
import logo from "~/assets/hoodoo-brown-logo.png";
// Import components
import NavMenu from "./NavMenu";
const links = [
  { linkText: "Home", link: "/" },
  { linkText: "About Us", link: "/about" },
  {
    linkText: "Press",
    link: "/press",
  },
  { linkText: "Food & Drinks", link: "/menu" },
  { linkText: "Catering", link: "/catering" },
  { linkText: "Contact", link: "/contact" },
];

interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<header class={(className ? className : "") + " bg-primary px-edge relative"}>
  <div
    class="mx-auto flex xl:flex-col gap-9 max-w-screen-2xl items-center justify-between py-10"
  >
    <a href="/"
      ><Image
        quality={100}
        loading="eager"
        height={120}
        src={logo}
        alt="hoodoo brown logo"
      /></a
    >

    <NavMenu links={links} client:load />
  </div>
</header>
