---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import contactHero from "~/assets/contact.png";

import ContactForm from "@components/Forms/ContactForm";
import Layout from "src/layouts/Layout.astro";

import { contacts } from "@data/general";
const fields = [
  { fieldType: "text", id: "first", name: "First Name" },
  { fieldType: "text", id: "last", name: "Last Name" },
  { fieldType: "email", id: "email", name: "Email Address" },
  { fieldType: "tel", id: "phone", name: "Phone Number" },
  { fieldType: "textarea", id: "message", name: "Message" },
];
---

<Layout
  seo={{
    title: "Contact | Hoodoo Brown",
    description: "The starter template for all Simply Sprout websites.",
  }}
>
  <section class="px-edge py-10 lg:py-20 relative">
    <Image
      class="absolute inset-0 h-full object-cover"
      quality={100}
      loading="eager"
      src={contactHero}
      alt="hogzilla sandwich"
    />
    <div class="text-white relative z-10 text-center">
      <h1 class="font-bebas font-bold text-7xl">Contact</h1>
      <ul class="mt-4 space-y-4">
        {
          contacts.map((contact) => (
            <li class="flex space-x-2 justify-center">
              <Icon name={contact.icon} size={30} />
              <p class="text-lg font-light">{contact.text}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <section class="bg-bg-light px-edge py-10 lg:py-20">
    <div class="max-w-screen-xl mx-auto">
      <h2 class="text-5xl text-center font-bebas text-accent">
        Send Us A Message!
      </h2>
      <ContactForm
        client:load
        name="Hoodoo Brown Contact Form"
        message="Thank you for submitting this contact form. We will reach out to you shortly."
        error="There was an error submitting this form. Please refresh and try again. If the problem persists, please send us an email directly."
        fields={fields}
      />
    </div>
  </section>
  <section>
    <div class="w-full">
      <iframe
        class="w-full h-[400px]"
        src="https://www.google.com/maps/embed/v1/place?q=967+Ethan+Allen+Highway+Ridgefield,+CT+06877&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
      ></iframe>
    </div>
  </section>
</Layout>
